<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div class="col-sm-8 mx-auto">
            <h2 th:text="'Добавление статьи ' + ${type.getValue()}"> </h2>

            <form id="form" name="form" th:action="@{/budget/}" method="post">
                <div class="form-group">
                    <label for="kindId">Вид</label>
                    <select id="kindId" name="kindId" class="form-control">
                        <option th:each="kind : ${kinds}"
                                th:value="${kind.id}"
                                th:text="${kind.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Дата</label>
                    <input type="date" name="date" id="date" class="form-control" th:value="${date}">
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>
                    <input type="text" name="description" id="description" class="form-control" placeholder="Описание"  onkeyup="calculate(this)">
                </div>
                <div class="form-check">
                    <input type="checkbox" name="autocalc" class="form-check-input" id="autocalc" checked>
                    <label class="form-check-label" for="autocalc">Автоматический подсчет</label>
                </div>
                <div class="form-group">
                    <label for="price">Сумма</label>
                    <input type="number" min="1" step="1" name="price" id="price" class="form-control" placeholder="Сумма" required >
                </div>

                <button class="btn btn-primary" name="submit" type="submit"><i class="fa fa-save"></i> Сохранить</button>
            </form>
        </div>
    </div>
</main>
<script>
    function calculate(input){
        if (!$('#autocalc').is(":checked")) return;
        var str = input.value;
        str = str.replace(/[^\.0-9]/g, " ");
        var arr = str.split(" ");
        var result = 0.0;
        arr.forEach(function(item) {
            result+= ((item.replace(" ","") == "") ? 0.0 : parseFloat(item));
        });
        $('#price').val(result);
    }
</script>
</body>
</html>