<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div>
            <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Budget"--><!--*/-->
            <h2 th:text="${(budget.id == null ? 'Добавление' : 'Изменение') + ' статьи ' + type.getValue()}"> </h2>
            <form id="form" name="form" th:action="@{/budget/}" method="post">
                <input type="hidden" name="id" th:value="${budget.id}">
                <fieldset disabled style="display: none">
                    <div class="form-group">
                        <label for="type">Тип</label>
                        <select id="type" name="type" readonly class="form-control">
                            <option th:each="val : ${T(com.gorbatenko.budget.model.Type).values()}"
                                    th:value="${val}"
                                    th:text="${val.value}"
                                    th:selected="${budget.kind.getType().name().equalsIgnoreCase(val)}">
                            </option>
                        </select>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label for="kindId">Вид</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" th:data-path="'dictionaries/kinds/create/'+ ${budget.kind.getType().name()}"
                                   onclick="location.href = (this.getAttribute('data-path'));"
                            >
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <select id="kindId" name="kindId" class="form-control">
                            <option th:each="kind : ${kinds}"
                                    th:value="${kind.id}"
                                    th:text="${kind.name}"
                                    th:selected="${budget.kind.getName().equalsIgnoreCase(kind.getName()) }"> <!--|| kind.id.equalsIgnoreCase(kindId)-->
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Дата</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="date" name="date" id="date" class="form-control" th:value="${budget.getStrDate()}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                        </div>
                        <textarea name="description" id="description" class="form-control" rows="4"
                               th:placeholder="${budget.description}" onkeyup="calculate(this)"
                               th:text="${budget.description}"></textarea>
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="autocalc" class="form-check-input" id="autocalc" th:checked="${budget.id == null}"
                           onclick="calculate(document.getElementById('description'))">
                    <label class="form-check-label" for="autocalc">Автоматический подсчет</label>
                </div>
                <div class="form-group">
                    <label for="price">Сумма</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-money"></i></span>
                        </div>
                        <input type="number" min="1" step="1" name="price" id="price"
                               class="form-control" th:placeholder="${#numbers.formatDecimal(budget.price,1,'NONE',0,'NONE')}" required
                               th:value="${#numbers.formatDecimal(budget.price,1,'NONE',0,'NONE')}">
                        <div class="input-group-append">
                            <!--/*--><!--@thymesVar id="currency" type="com.gorbatenko.budget.model.Currency"--><!--*/-->
                            <select id="currencyId" name="currencyId" class="custom-select" style="width: 120px;">
                                <option th:each="currency : ${currencies}"
                                        th:value="${currency.id}"
                                        th:text="${currency.name}"
                                        th:selected="${currency.id.equals(budget.getCurrency().getId())}"
                                ></option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" name="submit" type="submit"><i class="fa fa-save"></i> Сохранить</button>
                <a th:if="${budget.id != null}" th:href="@{'/budget/delete/'+${budget.id}}" class="btn btn-danger" role="button" aria-pressed="true"><i class="fa fa-trash"></i> Удалить</a>
            </form>
        </div>
    </div>
</main>
<script>
    function calculate(input){
        if (!$('#autocalc').is(":checked")) return;
        var str = input.value;
        str = str.replace(/[^\.0-9]/g, " ");
        var arr = str.split(" ");
        var result = 0.0;
        arr.forEach(function(item) {
            result+= ((item.replace(" ","") === "") ? 0.0 : parseFloat(item));
        });
        if(result > 0) {
            $('#price').val(result);
        };
    }
</script>
</body>
</html>
