<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: div}">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div>
            <!--/*--><!--@thymesVar id="budgetItem" type="com.gorbatenko.budget.model.BudgetItem"--><!--*/-->
            <h2 th:text="${(budgetItem.id == null ? 'Добавление' : 'Изменение') + ' статьи ' + type.getValue()}"> </h2>
            <form id="form" name="form" th:action="@{/budget/}" method="post" onsubmit="return compare();">
                <input type="hidden" name="id" th:value="${budgetItem.id}">
                <fieldset disabled style="display: none">
                    <div class="form-group">
                        <label for="type">Тип</label>
                        <select id="type" name="type" readonly class="form-control">
                            <option th:each="val : ${T(com.gorbatenko.budget.model.Type).values()}"
                                    th:value="${val}"
                                    th:text="${val.value}"
                                    th:selected="${budgetItem.kind.getType().name().equalsIgnoreCase(val)}">
                            </option>
                        </select>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label for="kindId">Вид</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" th:data-path="'dictionaries/kinds/create/'+ ${budgetItem.kind.getType().name()}"
                                    onclick="location.href = (this.getAttribute('data-path'));"
                            >
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <select id="kindId" name="kindId" class="form-control">
                            <option th:each="kind : ${kinds}"
                                    th:value="${kind.id}"
                                    th:text="${kind.name}"
                                    th:selected="${budgetItem.kind.getName().equalsIgnoreCase(kind.getName()) }">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateAt">Дата</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="date" name="dateAt" id="dateAt" class="form-control" th:value="${budgetItem.getStrDate()}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-pencil"></i></span>
                        </div>
                        <textarea name="description" id="description" class="form-control" rows="4"
                                  th:placeholder="${budgetItem.description}" onkeyup="calculate()"
                                  th:text="${budgetItem.description}"></textarea>
                    </div>
                </div>
                <div class="form-check mobchkbox">
                    <input type="checkbox" name="autocalc" class="form-check-input mobchkbox" id="autocalc" th:checked="${budgetItem.id == null}"
                           onclick="calculate()">
                    <label class="form-check-label mob" for="autocalc">Автоматический подсчет (до разделителя "//")</label>
                </div>
                <div class="form-group">
                    <label for="price">Сумма</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-money"></i></span>
                        </div>
                        <input type="number" min="1" step="1" name="price" id="price"
                               class="form-control" th:placeholder="${#numbers.formatDecimal(budgetItem.price,1,'NONE',0,'NONE')}" required
                               th:value="${#numbers.formatDecimal(budgetItem.price,1,'NONE',0,'NONE')}">
                        <div class="input-group-append">
                            <!--/*--><!--@thymesVar id="currency" type="com.gorbatenko.budget.model.Currency"--><!--*/-->
                            <select id="currencyId" name="currencyId" class="custom-select" style="width: 120px;">
                                <option th:each="currency : ${currencies}"
                                        th:value="${currency.id}"
                                        th:text="${currency.name}"
                                        th:selected="${currency.id.toString().equals(budgetItem.getCurrency().getId().toString())}"
                                ></option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mob"  name="submit" type="submit"><i class="fa fa-save"></i> Сохранить</button>
                <button th:if="${budgetItem.id != null}" class="btn btn-danger mob" type="button"
                        th:onclick="remove()"><i class="fa fa-trash"></i> Удалить</button>

            </form>
        </div>
    </div>
</main>
<script>
    function calculate(){
        if (!$('#autocalc').is(":checked")) return;
        var result = getSum();
        if(result > 0) {
            $('#price').val(result);
        }
    }

    function getSum(){
        var str = $('#description').val();
        var rows = str.split(/\n/);
        rows = rows.map((elm) =>  elm.indexOf('//') === -1 ? elm : elm.substring(0, elm.indexOf('//')));
        str = rows.join(' ');
        str = str.replace(/[^0-9]/g, ' ');
        var arr = str.split(' ');
        var result = 0;
        arr.forEach(function(item) {
            result+= ((item.replace(' ','') === '') ? 0.0 : parseInt(item));
        });
        return result;
    }

    function compare(){
        var sumDescription = getSum();
        var sumPrice = parseInt($('#price').val());
        if (sumDescription != 0 && sumDescription != sumPrice) {
            return confirm("Суммы отличаются!\n\n" +
                "Сумма описания: " + sumDescription + "\n" +
                "Итоговая сумма: " + sumPrice + "\n\n" +
                "Все верно?");
        }
        return true;
    }

    function remove() {
        var csrfheader = $('meta[name="_csrf_header"]').prop('content');
        var csrftoken = $('meta[name="_csrf"]').prop('content');
        var id = $("input[name='id']").val();
        $.ajax({
            type: "DELETE",
            url: "/budget/" + id,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(csrfheader, csrftoken);
            },
            success: function (status) {
                history.back();
            }
        });
    }
</script>
</body>
</html>
