<html xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div class="card bg-warning">
            <div class="card-body ">
                <div class="form-group ">
                    <form th:action="@{/budget/groupstatistic}" method="get">
                        <div class="row">
                            <div class="col-8">
                                <fieldset>
                                    <legend>Параметры</legend>
                                    <!--/*--><!--@thymesVar id="period" type="com.gorbatenko.budget.util.TypePeriod"-->
                                    <!--*/-->
                                    <div class="row">
                                        <div class="form-check col-2">
                                            <input class="form-check-input" type="radio" id="selperiod"
                                                   name="period"
                                                   th:checked="${period.equals(T(com.gorbatenko.budget.util.TypePeriod).SELPERIOD)}"
                                                   value="SELPERIOD"
                                                   onchange="enablePeriod(true);">
                                            <label class="form-check-label" for="selperiod">
                                                Период
                                            </label>
                                        </div>
                                        <fieldset class="col-8" id="perioddetail">

                                            <div class="form-group row">
                                                <div class="col">
                                                    <label for="startDate">Дата начала</label>
                                                    <input class="form-control" name="startDate"
                                                           id="startDate"
                                                           type="date"
                                                           th:value="${startDate}">
                                                </div>
                                                <div class="col">
                                                    <label for="endDate">Дата конца</label>
                                                    <input class="form-control" name="endDate" id="endDate"
                                                           type="date"
                                                           th:value="${endDate}">
                                                </div>
                                            </div>

                                        </fieldset>
                                    </div>
                                    <div class="row">
                                        <div class="form-check col">
                                            <input class="form-check-input" type="radio" id="currentmonth"
                                                   name="period" value="CURRENTMONTH"
                                                   th:checked="${period.equals(T(com.gorbatenko.budget.util.TypePeriod).CURRENTMONTH)}"
                                                   onchange="enablePeriod(false);">
                                            <label class="form-check-label" for="currentmonth">
                                                Текущий месяц
                                            </label>
                                        </div>
                                        <div class="form-check col">
                                            <input class="form-check-input" type="radio" id="currentyear"
                                                   name="period" value="CURRENTYEAR"
                                                   th:checked="${period.equals(T(com.gorbatenko.budget.util.TypePeriod).CURRENTYEAR)}"
                                                   onchange="enablePeriod(false);">
                                            <label class="form-check-label" for="currentyear">
                                                Текущий год
                                            </label>
                                        </div>
                                        <div class="form-check col">
                                            <input class="form-check-input" type="radio" id="alltime"
                                                   name="period" value="ALLTIME"
                                                   th:checked="${period.equals(T(com.gorbatenko.budget.util.TypePeriod).ALLTIME)}"
                                                   onchange="enablePeriod(false);">
                                            <label class="form-check-label" for="alltime">
                                                Все время
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                            <div class="col">
                                <fieldset>
                                    <legend>Сортировка</legend>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="sortbyname" name="sorttype"
                                               th:checked="${sorttype.isEmpty() || sorttype.equalsIgnoreCase('sortbyname')}"
                                               value="sortbyname">
                                        <label class="form-check-label" for="sortbyname">
                                            По наименованию
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="sortbyprice" name="sorttype"
                                               th:checked="${sorttype.equalsIgnoreCase('sortbyprice')}"
                                               value="sortbyprice">
                                        <label class="form-check-label" for="sortbyprice">
                                            По сумме
                                        </label>
                                    </div>
                                    <div class="form-group filterb">
                                        <button id="btnsub" type="submit" class="btn btn-dark fiterbtn">
                                            <i class="fa fa-filter"></i>
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table th:replace="fragments/statHeader :: table">
        </table>

        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-tableview" data-toggle="tab" href="#tableview" role="tab" aria-controls="tableview" aria-selected="true" style="font-size: x-large">Таблица</a></h6>
                <a class="nav-item nav-link" id="nav-circlediagram" data-toggle="tab" href="#circlediagram" role="tab" aria-controls="circlediagram" aria-selected="false" style="font-size: x-large">Круговая диаграмма</a>
                <a class="nav-item nav-link" id="nav-horizontdiagram" data-toggle="tab" href="#horizontdiagram" role="tab" aria-controls="horizontdiagram" aria-selected="false" style="font-size: x-large">Горизонтальная диаграмма</a>
                <a class="nav-item nav-link" id="nav-totalbardiagram" data-toggle="tab" href="#totalbardiagram" role="tab" aria-controls="totalbardiagram" aria-selected="false" style="font-size: x-large">Вертикальная итоговая диаграмма</a>
            </div>
        </nav>

        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active"id="tableview" role="tabpanel" aria-labelledby="nav-tableview">
                <table class="table">
                    <th:block th:each="element : ${mapKind}">
                        <tr th:class="${element.key.name().equals('PROFIT')  ? 'bg-success' : 'bg-info'}">
                            <td ><h4 th:text="${element.key.getValue()}"></h4></td>
                            <td >
                                <a class="text-dark"
                                   th:href="@{/budget/dynamicstatistic(startDate=${startDate},
                                                     endDate=${endDate},
                                                     type=${element.key.name()})}" title="Динамика">
                                    <i class="fa fa-bar-chart" style="border-style: solid; border-width: thin; padding: 8px" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td style="text-align:right; padding-right: 50px" ><h4 th:text="*{#numbers.formatDecimal(#aggregates.sum(element.value.![(value)]), 1, 'DEFAULT', 0, 'DEFAULT')}"></h4></td>
                        </tr>
                        <th:block th:each="map : ${element.value}">
                            <tr th:class="${map.key.getType().name().equals('PROFIT')  ? 'bg-success' : 'bg-info'}">
                                <td style="padding-left: 50px; font-weight: bolder">
                                    <a class="text-dark"
                                       th:href="@{/budget/statistic(startDate=${startDate},
                                                     endDate=${endDate},
                                                     kindId=${map.key.getId()})}">
                                        <span  class="summation" th:text="${map.key.name + ' (' + mapKindCount.get(map.key) + ')'} "></span>

                                        <div class="bg-white"
                                             th:style="${'margin-top:4px; height: 4px; width:' + (map.value.doubleValue() * 100 / #aggregates.sum(element.value.![(value)])) + '%'}"
                                             th:title="${(map.value.doubleValue() * 100 / #aggregates.sum(element.value.![(value)])) + '% от общей суммы'}"
                                        ></div>
                                        <div class="bg-warning"
                                             th:style="${'margin-top:1px; height: 4px; width:' + (map.value.doubleValue() * 100 / mapMaxPrice.get(element.key)) + '%'}"
                                             th:title="${(map.value.doubleValue() * 100 / mapMaxPrice.get(element.key)) + '% от максимальной статьи'}"
                                        ></div>
                                    </a>
                                </td>
                                <td style="padding-left: 10px; font-weight: bolder; text-align: center;">
                                    <a class="text-dark"
                                       th:href="@{/budget/dynamicstatistic(startDate=${startDate},
                                                     endDate=${endDate},
                                                     kindId=${map.key.getId()})}" title="Динамика">
                                        <i class="fa fa-bar-chart" style="border-style: solid; border-width: thin; padding: 8px" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td style="font-weight: bolder; text-align:right; padding-right: 50px"><span class="summation" th:text="${#numbers.formatDecimal(map.value.doubleValue(), 1, 'DEFAULT', 0, 'DEFAULT')}">  </span></td>
                            </tr>
                        </th:block>
                        <tr>
                            <td colspan="3" ></td>
                        </tr>
                    </th:block>
                </table>
                <div class="bg-white" th:style="${'display: inline-block; margin-top:4px; margin-left:4px; height: 12px; width: 12px;'}"></div> - % от общей суммы
                <br>
                <div class="bg-warning" th:style="${'display: inline-block; margin-top:1px; margin-left:4px; height: 12px; width: 12px;'}"></div> -  % от максимальной статьи
            </div>
            <div class="tab-pane fade" id="circlediagram" role="tabpanel" aria-labelledby="nav-circlediagram">
                <h4>Приход</h4>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <canvas id="circleChartProfit" style="max-width: 80%;max-height: 500px;"></canvas>
                    </div>
                </div>

                <h4>Расход</h4>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <canvas id="circleChartSpendit" style="max-width: 80%;max-height: 500px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="horizontdiagram" role="tabpanel" aria-labelledby="nav-horizontdiagram">
                <h4>Приход</h4>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <canvas id="horizontChartProfit"
                                th:style="${'max-width: 80%; max-height: ' +
                                mapKind == null || mapKind.get(T(com.gorbatenko.budget.model.Type).PROFIT) == null ? 100 :
                                    (mapKind.get(T(com.gorbatenko.budget.model.Type).PROFIT).size() * 60) + 'px;'}" ></canvas>
                    </div>
                </div>
                <h4>Расход</h4>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <canvas id="horizontChartSpendit"
                                th:style="${'max-width: 80%; max-height: ' +
                                mapKind == null || mapKind.get(T(com.gorbatenko.budget.model.Type).SPENDING) == null ? 100 :
                                  (mapKind.get(T(com.gorbatenko.budget.model.Type).SPENDING).size() * 60) + 'px;'}"></canvas>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="totalbardiagram" role="tabpanel" aria-labelledby="nav-horizontdiagram">
                <h4>Приходы &frasl; Расходы</h4>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <canvas id="totalBarChart" style="max-width: 80%;max-height: 500px;"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script th:inline="javascript">
        function enablePeriod(val){
            $('#perioddetail').prop('disabled', !val);
        }

        $(document).ready(function() {
            new Chart(document.getElementById("circleChartProfit"), [(${circleChartProfit})]);
            new Chart(document.getElementById("circleChartSpendit"), [(${circleChartSpendit})]);
            new Chart(document.getElementById("horizontChartProfit"), [(${horizontChartProfit})]);
            new Chart(document.getElementById("horizontChartSpendit"), [(${horizontChartSpendit})]);
            new Chart(document.getElementById("totalBarChart").getContext('2d'), [(${totalBarChart})]);
        } );
    </script>
</main>
</body>
</html>
