<html xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div class="card bg-warning">
            <div class="card-body" id="filteredparams" style="display: none">

                <div class="form-group" >
                    <!--/*--><!--@thymesVar id="user" type="com.gorbatenko.budget.model.User"-->
                    <!--*/-->
                    <!--/*--><!--@thymesVar id="kind" type="com.gorbatenko.budget.model.Kind"-->
                    <!--*/-->
                    <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Type"-->
                    <!--*/-->
                    <form th:action="@{/budget/statistic}" method="get">
                        <div class="form-group row">

                            <div class="col-sm">
                                <label for="startDate">Дата начала</label>
                                <input class="form-control" name="startDate" id="startDate"
                                       type="date"
                                       th:value="${startDate}">
                            </div>


                            <div class="col-sm">
                                <label for="endDate">Дата конца</label>
                                <input class="form-control" name="endDate" id="endDate"
                                       type="date"
                                       th:value="${endDate}">
                            </div>


                            <div class="col-sm">
                                <label for="userId">Пользователь</label>
                                <select id="userId" name="userId" class="form-control">
                                    <option th:value="-1"> Все</option>
                                    <option
                                        th:each="user : ${users}"
                                        th:value="${user.getId()}"
                                        th:text="${user.getName()}"
                                        th:selected="${user.getId().equals(userId)}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm">
                                <label for="type">Операция</label>
                                <select id="type" name="type" class="form-control">
                                    <option th:value="allTypes"> Все</option>
                                    <option
                                            th:each="val : ${T(com.gorbatenko.budget.model.Type).values()}"
                                            th:value="${val}"
                                            th:text="${(val.value.equals(T(com.gorbatenko.budget.model.Type).PROFIT.getValue()) ? ' + ' : ' - ') + val.value}"
                                            th:selected="${val.value.equalsIgnoreCase(typeName)}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-sm">
                                <label for="kindId">Вид</label>
                                <select id="kindId" name="kindId" class="form-control">
                                    <option th:value="-1"> Все</option>
                                    <option th:each="kind : ${kindList}"
                                            th:value="${kind.id}"
                                            th:text="${(kind.type.equals(T(com.gorbatenko.budget.model.Type).PROFIT) ? ' + ' : ' - ') +  kind.name}"
                                            th:selected="${kind.getId().equals(kindId)}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-sm">
                                <label for="description">Описание</label>
                                <input class="form-control" name="description" id="description"
                                       type="text"
                                       th:value="${description}">
                            </div>

                            <div class="col-sm">
                                <label for="price">Сумма</label>
                                <input class="form-control" name="price" id="price"
                                       type="text"
                                       th:value="${price}">
                            </div>

                            <div class="form-group col-1 flex-bottom">
                                <button id="btnsub" type="submit" class="btn btn-dark fiterbtn">
                                    <i class="fa fa-filter"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <table th:replace="fragments/statHeader :: table">
        </table>
        <div style="width: 98%" class="form-check mobchkbox" align="right">
            <input type="checkbox" class="form-check-input mobchkbox" id="check-hide" onclick="hideAllDetail(this);">
            <label class="form-check-label mob" for="check-hide">Cкрыть детали</label>
        </div>

        <table th:replace="fragments/statData :: table">
        </table>

    </div>
    <div class="footer menu-container paddingsides">
        <div class="menu-item">
            <a href="/budget/create/profit" class="btn btn-success btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                    class="fa fa-plus"></i> Создать приход</a>
        </div>
        <div class="menu-item">
            <a href="/budget/create/spending" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                    class="fa fa-minus"></i> Создать расход</a>
        </div>
    </div>

    <div class="leftmenu">
        <div class="menu-itemleft">
            <a href="/budget/create/profit" class="btn btn-success btn-lg btn-block menubtn" role="button" aria-pressed="true">Приход</a>
        </div>
        <div class="menu-itemleft">
            <a href="/budget/create/spending" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true">Расход</a>
        </div>
    </div>
</main>
</body>
</html>