<html xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div class="card bg-warning">
            <div class="card-body ">

                <div class="form-group  ">
                    <!--/*--><!--@thymesVar id="kind" type="com.gorbatenko.budget.model.Kind"-->
                    <!--*/-->
                    <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Type"-->
                    <!--*/-->
                    <form th:action="@{/budget/statistic}" method="get">
                        <div class="form-group row">

                            <div class="col-2">
                                <label for="startDate">Дата начала</label>
                                <input class="form-control" name="startDate" id="startDate"
                                       type="date"
                                       th:value="${startDate}">
                            </div>


                            <div class="col-2">
                                <label for="endDate">Дата конца</label>
                                <input class="form-control" name="endDate" id="endDate"
                                       type="date"
                                       th:value="${endDate}">
                            </div>


                            <div class="col-2">
                                <label for="type">Тип</label>
                                <select id="type" name="type" class="form-control">
                                    <option th:value="allTypes"> Все</option>
                                    <option
                                        th:each="val : ${T(com.gorbatenko.budget.model.Type).values()}"
                                        th:value="${val}"
                                        th:text="${val.value}"
                                        th:selected="${val.value.equalsIgnoreCase(typeName)}">
                                    </option>
                                </select>
                            </div>


                            <div class="col-3">
                                <label for="kindId">Вид</label>
                                <select id="kindId" name="kindId" class="form-control">
                                    <option th:value="-1"> Все</option>
                                    <option th:each="kind : ${kindList}"
                                            th:value="${kind.id}"
                                            th:text="${kind.type.getValue() + ' / ' + kind.name}"
                                            th:selected="${kind.getName().equalsIgnoreCase(kindName)}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-2">
                                <label for="comment">Описание</label>
                                <input class="form-control" name="comment" id="comment"
                                       type="text"
                                       th:value="${comment}">
                            </div>

                            <div class="form-group col-1 flex-bottom">
                                <button id="btnsub" type="submit" class="btn btn-dark fiterbtn">
                                    <i class="fa fa-filter"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <table th:replace="fragments/statHeader :: table">
        </table>
        <div style="width: 98%" class="form-check" align="right">
            <input type="checkbox" class="form-check-input" id="check-hide" onclick="hide_alldetail(this);">
            <label class="form-check-label" for="check-hide">Cкрыть детали</label>
        </div>

        <table th:replace="fragments/statData :: table">
        </table>

    </div>
    <div class="footer menu-container paddingsides">
        <div class="menu-item">
            <a href="/budget/create/profit" class="btn btn-success btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                    class="fa fa-plus"></i> Создать приход</a>
        </div>
        <div class="menu-item">
            <a href="/budget/create/spending" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                    class="fa fa-minus"></i> Создать расход</a>
        </div>
    </div>
</main>
</body>
</html>