<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div>
            <h2 th:text="'Профиль'"></h2>
            <!--/*--><!--@thymesVar id="profile" type="com.gorbatenko.budget.model.User"--><!--*/-->
            <div class="info" th:if="${info}" th:text="${info}"></div>
            <form id="formChangeName" name="formChangeName"
                  th:action="@{/profile/changename/}" method="post">
                <div class="form-group">
                    <label for="username">Имя</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" name="username" id="username" class="form-control"
                               th:value="${user.getName()}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" title="Сохранить">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" ><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="text" name="email" id="email" class="form-control" readonly
                           th:value="${user.getEmail()}">
                </div>
            </div>
            <!--no group admin-->
            <div class="form-group" th:if="${(!user.id.equals(user.getGroup()) && usersGroup.size() > 1)}">
                <label for="groupmembers">Группа</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-users"></i></span>
                    </div>
                    <input type="text" name="groupmembers" id="groupmembers" class="form-control" readonly
                           th:value="${groupMembers}">
                </div>
            </div>
            <!--group admin-->
            <div class="form-group" th:if="${(user.id.equals(user.getGroup()) && usersGroup.size() > 1)}">
                <label>Группа</label>
                <table class="table">
                    <tbody>
                    <tr class="border border-warning budget_detail">
                        <td style="padding-top: 0px; padding-bottom: 12px;">
                            <table class="table table-active ">
                                <thead>
                                <tr class="table-active">
                                    <th style="width: 5%"> #</th>
                                    <th style="width: 25%"> Пользователь</th>
                                    <th style="width: 20%"> Email</th>
                                    <th style="width: 10%"> Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.JoinRequest"--><!--*/-->
                                <th:block th:each="member,row : ${usersGroup}">
                                    <tr th:id="${member.id}">
                                        <td style="width: 5%"><span th:text="${row.index+1}"> # </span></td>
                                        <td style="width: 15%"><span th:text="${member.name +
                                            (user.id.equals(member.id) ? ' (Вы)' : '') }"> User </span></td>
                                        <td style="width: 15%"><span th:text="${member.email}"> Email </span></td>
                                        <td style="width: 5%">
                                            <a th:href="${'javascript:removeFromGroup(&quot;' + member.id + '&quot;)'}"
                                               th:if="${(!member.id.equals(member.getGroup()))}"
                                               class="btn btn-warning" role="button"
                                               aria-pressed="true"><i
                                                    class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                </th:block>
                            </table>
                        </td>
                    </tr>
                    <tbody>
                </table>
            </div>
            <div class="form-group">
                <label for="groupid">GROUPID</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-indent"></i></span>
                    </div>
                    <input type="text" name="groupid" id="groupid" class="form-control" readonly
                           th:value="${user.getGroup()}">
                </div>
            </div>

            <div class="form-group ">
                <label for="joingroup">Ссылка для приглашения в группу</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-plus"></i></span>
                    </div>
                    <input id="joingroup" class="form-control" type="text" data-clipboard-text="Copy Me!"
                           th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}"
                           th:value='${urlBuilder.fromCurrentRequest().toUriString().concat("jointogroup/")}+${user.getGroup()}'>
                    <div class="input-group-append">
                        <button id="copy-joinbutton" class="btn btn-outline-secondary" data-clipboard-target="#joingroup" type="button" title="Копировать ссылку" >
                            <i class="fa fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>

            <form id="formChangeDefaultCurrency" name="formChangeDefaultCurrency"
                  th:action="@{/profile/changedefcurrency/}" method="post">
                <div class="form-group">
                    <label for="username">Валюта по-умолчанию</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-money"></i></span>
                        </div>
                        <!--/*--><!--@thymesVar id="currency" type="com.gorbatenko.budget.model.Currency"-->
                        <!--*/-->
                        <select id="currencyId" name="currencyId" class="custom-select">
                            <option th:each="currencyEntry : ${mapCurrencies}"
                                    th:value="${currencyEntry.key.id}"
                                    th:text="${currencyEntry.key.getName()}"
                                    th:selected="${(currencyEntry.value.booleanValue() == true)}"
                            ></option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" title="Сохранить">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="input-group">
                <div class="input-group-prepend" >
                    <span class="input-group-text" style="width: 300px;" th:text="${'Всего прихода, ' + defaultCurrencyName}"></span>
                </div>
                <input type="text" class="form-control" readonly  style="text-align:right;" th:value="${#numbers.formatDecimal(profit,1,'DEFAULT',0,'DEFAULT')}">
            </div>
            <div class="input-group" >
                <div class="input-group-prepend" >
                    <span class="input-group-text" style="width: 300px;" th:text="${'Всего расхода, ' + defaultCurrencyName}"></span>
                </div>
                <input type="text" class="form-control" readonly  style="text-align:right;" th:value="${#numbers.formatDecimal(spending,1,'DEFAULT',0,'DEFAULT')}">
            </div>
            <div class="input-group" >
                <div class="input-group-prepend" >
                    <span class="input-group-text" style="width: 300px;" th:text="${'Остаток, ' + defaultCurrencyName}"></span>
                </div>
                <input type="text" class="form-control" readonly style="text-align:right;" th:value="${#numbers.formatDecimal(remain,1,'DEFAULT',0,'DEFAULT')}">
            </div>
            <div class="form-group text-right" th:if="${(user.getId() != user.getGroup())}">
                <a th:href="@{'/profile/jointogroup/'+${user.getId()}}" class="btn btn-secondary" role="button"
                   aria-pressed="true"><i class="fa fa-user-times"></i> Выйти из группы</a>
            </div>
        </div>
    </div>
    <script>
        (function(){
            new Clipboard($('#copy-joinbutton')[0]);
        })();

        function removeFromGroup(userId) {
            if (! window.confirm('Удалить пользователя из группы?')) {
                return;
            }
            $.ajax({
                type: "GET",
                url:  "/profile/removefromgroup/" + userId,
                success: function (status) {
                    var request = document.getElementById(userId);
                    request.style.display = 'none';
                }
            });
        }
    </script>
</main>
</body>
</html>