<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div class="col-sm-8 mx-auto">
            <h2 th:text="'Профиль'"></h2>
            <!--/*--><!--@thymesVar id="profile" type="com.gorbatenko.budget.model.User"--><!--*/-->
            <form id="formChangeName" name="formChangeName"
                  th:action="@{/profile/changename/}" method="post">
                <div class="form-group">
                    <label for="username">Имя</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" name="username" id="username" class="form-control"
                               th:value="${user.getName()}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" title="Сохранить">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" ><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="text" name="email" id="email" class="form-control" readonly
                           th:value="${user.getEmail()}">
                </div>
            </div>
            <div class="form-group">
                <label for="groupmembers">Группа</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-users"></i></span>
                    </div>
                    <input type="text" name="groupmembers" id="groupmembers" class="form-control" readonly
                           th:value="${groupMembers}">
                </div>
            </div>
            <div class="form-group">
                <label for="groupid">GROUPID</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-indent"></i></span>
                    </div>
                    <input type="text" name="groupid" id="groupid" class="form-control" readonly
                           th:value="${user.getGroup()}">
                </div>
            </div>
            <form id="formChangeDefaultCurrency" name="formChangeDefaultCurrency"
                  th:action="@{/profile/changedefcurrency/}" method="post">
                <div class="form-group">
                    <label for="username">Валюта по-умолчанию</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-money"></i></span>
                        </div>
                        <!--/*--><!--@thymesVar id="currency" type="com.gorbatenko.budget.model.Currency"-->
                        <!--*/-->
                        <select id="currencyId" name="currencyId" class="custom-select">
                            <option th:each="currencyEntry : ${mapCurrencies}"
                                    th:value="${currencyEntry.key.id}"
                                    th:text="${currencyEntry.key.getName()}"
                                    th:selected="${(currencyEntry.value.booleanValue() == true)}"
                            ></option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" title="Сохранить">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>


            <div class="form-group ">
                <label for="joingroup">Ссылка для приглашения в группу</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-plus"></i></span>
                    </div>
                    <input id="joingroup" class="form-control" type="text" data-clipboard-text="Copy Me!"
                           th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}"
                           th:value='${urlBuilder.fromCurrentRequest().toUriString().concat("jointogroup/")}+${user.getGroup()}'>
                    <div class="input-group-append">
                        <button id="copy-joinbutton" class="btn btn-outline-secondary" data-clipboard-target="joingroup" type="button" title="Копировать ссылку" >
                            <i class="fa fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <a th:href="@{'/profile/jointogroup/'+${user.getId()}}" class="btn btn-secondary" role="button"
                   aria-pressed="true"><i class="fa fa-user-times"></i> Выйти из группы</a>
            </div>

            <div class="input-group">
                <div class="input-group-prepend" >
                    <span class="input-group-text" style="width: 200px;" th:text="${'Всего прихода, ' + defaultCurrencyName}"></span>
                </div>
                <input type="text" class="form-control" readonly  style="text-align:right;" th:value="${profit}">
            </div>
            <div class="input-group" >
                <div class="input-group-prepend" >
                    <span class="input-group-text" style="width: 200px;" th:text="${'Всего расхода, ' + defaultCurrencyName}"></span>
                </div>
                <input type="text" class="form-control" readonly  style="text-align:right;" th:value="${spending}">
            </div>
            <div class="input-group" >
                <div class="input-group-prepend" >
                    <span class="input-group-text" style="width: 200px;" th:text="${'Остаток, ' + defaultCurrencyName}"></span>
                </div>
                <input type="text" class="form-control" readonly style="text-align:right;" th:value="${remain}">
            </div>
        </div>
    </div>
    <script>
        (function(){
            new Clipboard('#copy-joinbutton');
        })();
    </script>
</main>
</body>
</html>