<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div style="background: #c2ff8e;  margin-bottom: 40px;">
    <nav id="navbar" class="navbar navbar-expand-sm navbar-fixed fixed-top navbar-light bg-warning rounded" style="transition: top 0.3s;"
         sec:authorize="isAuthenticated()">
        <a href="/menu" class="navbar-brand"><img th:src="@{/images/wallet-icon.png}"/>
            <h2 style="display: inline-block;"> Бюджет</h2></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item" th:if="${(detailToggler)}">
                    <div style="width: 98%" class="form-check mobchkbox" align="right">
                        <input data-width="125" class="form-check-input" type="checkbox" data-toggle="toggle" checked
                               data-on="Детали" data-off="Кратко" id="check-hide">
                    </div>
                </li>
                <li class="nav-item" th:if="${(filteredPage)}">
                    <button type="button" class="btn btn-dark" onclick="showHideFilter()">
                        <i class="fa fa-filter"></i>
                    </button>
                </li>
                <li class="nav-item dropdown" th:if="${defaultCurrencyName}">
                    <a class="dropdown-toggle nav-link my-1 ml-2" data-toggle="dropdown"
                       th:text="${defaultCurrencyName.toUpperCase()}"></a>
                    <div class="dropdown-menu" sec:authorize="isAuthenticated()">
                        <!--/*--><!--@thymesVar id="currency" type="com.gorbatenko.budget.model.Currency"--><!--*/-->
                        <th:block th:each="currency : ${listOfCurrencies}">
                            <a class="dropdown-item btn-lg"
                               th:href="${'javascript:changeCurrency( &quot;' + currency.id + '&quot;)'}"
                               th:text="${'&#8226;  ' + currency.name}">   </a>
                        </th:block>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-warning dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent-4"
                            aria-controls="navbarSupportedContent-4" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                         aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item btn-lg" href="/budget/create/profit"><i class="fa fa-plus"></i>
                            <span class="fontsizexxx">Приход</span></a>
                        <a class="dropdown-item btn-lg" href="/budget/create/spending"><i class="fa fa-minus"></i>
                            <span class="fontsizexxx">Расход</span></a>
                        <a class="dropdown-item btn-lg" href="/budget/exchange"><i class="fa fa-exchange"></i> <span class="fontsizexxx">Обмен валюты</span></a>
                        <a class="dropdown-item btn-lg" href="/budget/statistic"><i class="fa fa-list"></i>
                            <span class="fontsizexxx">Статистика</span></a>
                        <a class="dropdown-item btn-lg" href="/budget/groupstatistic"><i class="fa fa-align-left"></i>
                            <span class="fontsizexxx">Групповая статистика</span></a>
                        <a class="dropdown-item btn-lg" href="/dictionaries/"><i class="fa fa-book"></i> <span class="fontsizexxx">Справочники</span></a>
                        <a class="dropdown-item btn-lg" href="/regularoperations/"><i class="fa fa-calendar"></i> <span class="fontsizexxx">Регулярные операции</span></a>
                        <a class="dropdown-item btn-lg" href="/profile/"><i class="fa fa-user"></i> <span class="fontsizexxx">Профиль</span></a>
                        <a class="dropdown-item btn-lg" th:href="@{/logout}"><i class="fa fa-sign-out"></i> <span class="fontsizexxx">Выход</span></a>
                    </div>
                </li>
            </ul>
</div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-warning rounded" sec:authorize="isAnonymous()">
    <a href="/" class="navbar-brand"><img th:src="@{/images/wallet-icon.png}"/>
        <h2 style="display: inline-block;"> Бюджет</h2></a>
</nav>
<script>
    function changeCurrency(currencyId) {
        $.ajax({
            type: "GET",
            url: "profile/changedefcurrency?currencyId=" + currencyId,
            success: function (status) {
                location.reload();
            }
        });
    }

    function showHideFilter() {
        var filterParams = document.getElementById("filteredparams");
        if (filterParams.style.display == 'none') {
            filterParams.style.display = '';
            $('html, body').animate({ scrollTop: 0 }, 'fast');
        } else {
            filterParams.style.display = 'none';
        }
    }

    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-90px";
        }
        prevScrollpos = currentScrollPos;
    }
</script>
</div>
