<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="_csrf" content="" th:attr="content=${_csrf.token}" />
    <meta name="_csrf_header" content="" th:attr="content=${_csrf.headerName}"/>
    <base href="" th:href="${#httpServletRequest.getContextPath()}+'/'" />


    <title>Budget</title>
    <!--<title th:text="#{app.title}"></title>-->
    <base href="" th:href="${#httpServletRequest.getContextPath()}+'/'" />

    <link rel="shortcut icon" th:href="@{/images/icon.png}">


    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" >

    <!--<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}" defer></script>-->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" defer></script>

</head>
