<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="_csrf" content="" th:attr="content=${_csrf.token}" />
    <meta name="_csrf_header" content="" th:attr="content=${_csrf.headerName}"/>
    <base th:href="@{/}" />

    <title th:text="${'Бюджет' + (pageName == null ?  '' :  ': ' + pageName)}">Бюджет</title>
    <link rel="shortcut icon" th:href="@{/images/icon.png}">
    <link th:href="@{/images/wallet_192.png}" rel="icon" sizes="192x192" />
    <link th:href="@{/images/wallet_128.png}" rel="icon" sizes="128x128" />

    <link rel="stylesheet" th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/css/mdb.css}">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap4-toggle/3.6.1/css/bootstrap4-toggle.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" >

    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/js/mdb.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/general.js}"></script>
    <script src="//cdn.jsdelivr.net/clipboard.js/latest/clipboard.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap4-toggle/3.6.1/js/bootstrap4-toggle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-table/1.16.0/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js}"></script>

</head>
