<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*--><!--@thymesVar id="listBudget" type="java.util.TreeMap"--><!--*/-->
<table class="table">
    <tbody>
    <tr th:if="${listBudget.isEmpty()}">
        <td colspan="7"> Бюджет не доступен</td>
    </tr>

    <th:block th:each="element : ${listBudget}">
        <tr th:id="${'d_' + #temporals.format(element.key, 'yyyy-MM-dd')}"
              th:class="${(#temporals.dayOfWeek(element.key) < 6 ? 'day bg-warning' : 'day bg-warning-light')}" onclick="hide_detail(this);">
            <td colspan="7">
                <h4 style="display:inline-block; width : 35%" th:text="${#temporals.format(element.key, 'dd-MM-yyyy') + ' - ' + #temporals.dayOfWeekName(element.key)}"> Date </h4>
                <div style="display:inline-block;font-weight: bold; width : 60%;" align="right">
                    <div style="display:inline-block; width: 140px;" align="left"> <h6>Приход:
                        <span th:text="*{#numbers.formatDecimal(#aggregates.sum(element.value.![(kind.getType().name().equals('PROFIT') ? price : 0)]),1,'DEFAULT',0,'DEFAULT')}"></span></h6>
                    </div>

                    <div style="display:inline-block; width: 140px;" align="left"> <h6>Расход:
                        <span th:text="*{#numbers.formatDecimal(#aggregates.sum(element.value.![(kind.getType().name().equals('PROFIT') ? 0 : price)]),1,'DEFAULT',0,'DEFAULT')}"></span></h6>
                    </div>

                    <div style="display:inline-block; width: 140px" align="left"> <h6>Итог:
                        <span th:class="${#aggregates.sum(element.value.![(kind.getType().name().equals('PROFIT') ? price : -price)]) > 0  ? 'fontgreen' : 'fontred'}"
                              th:text="*{#numbers.formatDecimal(#aggregates.sum(element.value.![(kind.getType().name().equals('PROFIT') ? price : -price)]),1,'DEFAULT',0,'DEFAULT')}"></span></h6>
                    </div>
                </div>
            </td>
        </tr>


        <tr class="border border-warning budget_detail">
            <td colspan="7">
                <table class="table table-active ">
                    <thead>
                    <tr class="table-active">
                        <th style="width: 5%"> #</th>
                        <th style="width: 15%"> Пользователь</th>
                        <th style="width: 10%"> Операция</th>
                        <th style="width: 20%"> Вид</th>
                        <th style="width: 20%"> Описание</th>
                        <th style="width: 10%; text-align:right"> Сумма</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Budget"--><!--*/-->
                    <th:block th:each="budget,row : ${element.value}">

                        <tr th:class="${budget.kind.getType().name().equals('PROFIT')  ? 'bg-success' : 'bg-info'}">
                            <td style="width: 5%"><span th:text="${row.index+1}"> # </span></td>
                            <td style="width: 15%"><span th:text="${budget.user.name}"> User </span></td>
                            <td style="width: 10%"><span
                                    th:text="${budget.kind.getType().getValue()}"> Type </span>
                            </td>
                            <td style="width: 20%"><span th:text="${budget.kind.name}"> Item </span></td>
                            <td style="width: 20%"><span th:text="${budget.description}"> Description </span>
                            </td>
                            <td style="width: 10%; text-align:right"><span th:text="${#numbers.formatDecimal(budget.price,1,'DEFAULT',0,'DEFAULT')}"> Price </span></td>
                            <td style="width: 5%">
                                <a th:href="@{'/budget/edit/'+${budget.id}}" class="btn btn-warning" role="button"
                                   aria-pressed="true"><i
                                        class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </td>
        </tr>
    </th:block>
    <tbody>
</table>