@media only screen and (min-width: 600px) {
  ul{
    position:fixed !important;
    right: 0;
    left: auto;
  }
}

body {
  background: #c2ff8e;
}
div.error {
  background: #eea9a4;
  padding: 5px;
}
div.info {
  background: #ffb411;
  padding: 5px;
}
.flex-bottom {
  display: flex;
  align-items: flex-end;
}

th {
  font-weight: 500 !important;
}

tr span {
  font-weight: 400 !important;
}

button.btn.btn-outline-secondary{
  height: 38px;
  width: 40px;
  margin: 0;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

button.btn:not(.btn-dark):not(.btn-outline-secondary){
  vertical-align: middle;
  height: 60px;
}

a.btn:not(.btn-warning):not(.menubtn) {
  vertical-align: middle;
  height: 60px;
  margin: 10px;
  padding-top: 10px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  width: 49%;
  height: 120px;
  margin-bottom: 1%;
}

.paddingsides {
  padding-left: 40px;
  padding-right: 40px;
}

.menubtn {
  padding-top: 30px !important;
  height: 100%;
  font-size: xx-large !important;
}

.fiterbtn {
  height: 64px !important;
  width: 64px !important;
}

tr.bg-warning-dark{
  background-color: #ffb411;
}
tr.bg-warning-light{
  background-color: #f4ff81;
}

a.dropdown-item.btn-lg{
  font-size: 1.5rem;
}

nav > .nav.nav-tabs{

  border: none;
  color:#fff;
  background:#c2ff8e;
  border-radius:0;

}
nav > div a.nav-item.nav-link
{
  border: none;
  padding: 18px 25px;
  color:#fff;
  background: #ffb411;
  border-radius:0;
}
nav > div a.nav-item.nav-link.active
{
  border: none;
  padding: 18px 25px;
  color:#fff;
  background: #138908;
  border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #138908;
}
.tab-content{
  line-height: 25px;
  border: 1px solid #ddd;
  border-top:5px solid #138908;
  border-bottom:5px solid #138908;
  padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
  background: #138908;
  color:#fff;
  border-radius:0;
  transition:background 0.20s linear;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

span.fontred{
  color : red;
}

span.fontgreen{
  color : green;
}

span.subdate{
  display: block;
  color: #494b49;
  font-size: 60%;
  margin-top: 5px;
  margin-bottom: -10px;
}

div.jumbotron {
  width: 70%;
  margin: auto !important;
}

@media screen and (max-device-width: 900px) {
  div.jumbotron {
    width: 100%;
  }
}

@media screen and (max-device-width: 900px) {
  span.biggerprice {
    font-size: x-large;
  }

  span.summation {
    font-size: x-large;
  }

  span.input-group-text {
    font-size: x-large;
  }

  .form-group {
    font-size: x-large !important;
  }

  input {
    font-size: xx-large !important;
  }

  select {
    font-size: xx-large !important;
  }

  textarea {
    font-size: xx-large !important;
  }

  i {
    font-size: xx-large !important;
  }

  button.btn.btn-outline-secondary {
    font-size: xx-large !important;
    height: 100% !important;
    width: 60px !important;
  }

  a.dropdown-item.btn-lg {
    font-size: xx-large !important;
  }
  span.fontsizexxx {
    font-size: xxx-large !important;
  }

  div.form-group.filterb {
    padding-top: 20px;
  }

  .mob {
    font-size: xx-large !important;
    height: 100px !important;
    padding: 15px !important;
  }

  .mobx {
    font-size: x-large !important;
    height: 80px !important;
    padding: 15px !important;
  }

  div.mobchkbox {
    height: 50px !important;
  }

  input.mobchkbox {
    width: 40px !important;
    height: 40px !important;
    padding: 0px !important;
  }

  label.mob {
    font-size: 18pt !important;
    margin-left: 10px !important;

  }
}

.leftmenu {
  position: fixed;
  top: 140px;
  left: 10px;
  width: 25%;
  display: none;
}