div.error {
  background: #eea9a4;
}
.flex-bottom {
  display: flex;
  align-items: flex-end;
}
button.btn:not(.btn-dark){
  vertical-align: middle;
  height: 60px;
}
a.btn:not(.btn-warning){
  vertical-align: middle;
  height: 60px;
  margin: 10px;
  padding-top: 15px;
}