body {
  background: #c2ff8e;
}
div.error {
  height: 40px;
  background: #eea9a4;
  padding: 5px;
}
.flex-bottom {
  display: flex;
  align-items: flex-end;
}
button.btn:not(.btn-dark){
  vertical-align: middle;
  height: 60px;
}
a.btn:not(.btn-warning){
  vertical-align: middle;
  height: 60px;
  margin: 10px;
  padding-top: 15px;
}
li.nav-item a.nav-link.active{
  background-image: none;
  background: #c2ff8e;
  border-bottom-color: #c2ff8e;
}

tr.bg-warning-dark{
  background-color: #ffb411;
}