<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body style="background: #c2ff8e">
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div class="col-sm-8 mx-auto">
            <h2 th:text="'Добавление статьи ' + ${type.getValue()}"> </h2>

            <form id="form" name="form" th:action="@{/}" method="post">
                <table>
                    <tr>
                        <td style="width: 200px;"><label class="col-form-label" th:text="Вид"></label></td>
                        <td>
                            <select name="kind" style="width: 200px;">
                                <option th:each="kind : ${kinds}"
                                        th:value="${kind.name}"
                                        th:text="${kind.name}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label" th:text="Дата"></label></td>
                        <td><input type="date" name="date" th:value="${date}" placeholder="Дата" style="width: 200px;"></td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label" th:text="Описание"></label></td>
                        <td><input type="text" name="description" placeholder="Описание" style="width: 200px;"></td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label" th:text="Сумма"></label></td>
                        <td><input type="number" step=0.01 name="price" placeholder="Сумма" style="width: 200px;"></td>
                    </tr>
                </table>
                <button class="btn btn-primary" name="submit" type="submit"><i class="fa fa-save"></i> Сохранить</button>
            </form>
        </div>
    </div>
</main>
</div>
</body>
</html>