<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body style="background: #c2ff8e">
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div class="col-sm-8 mx-auto">
            <h2>Изменение</h2>

            <form id="form" name="form" th:action="@{/}" method="post">
                <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Budget"--><!--*/-->
                <input type="hidden" name="id" th:value="${budget.id}">
                <table>
                    <tr>
                        <td style="width: 200px;"><label class="col-form-label" th:text="Тип"></label></td>
                        <td>
                            <select name="type" readonly style="width: 200px;">
                                <option th:each="val : ${T(com.gorbatenko.budget.model.Type).values()}"
                                        th:value="${val}"
                                        th:text="${val.value}"
                                        th:selected="${budget.kind.getType().name().equalsIgnoreCase(val)}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label" th:text="Вид"></label></td>
                        <td>
                            <select name="kind" style="width: 200px;">
                                <option th:each="kind : ${kinds}"
                                        th:value="${kind.name}"
                                        th:text="${kind.name}"
                                        th:selected="${budget.kind.getName().equalsIgnoreCase(kind.getName())}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label" th:text="Дата"></label></td>
                        <td><input type="date" name="date" readonly th:value="${budget.getStrDate()}" style="width: 200px;"></td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label" th:text="Описание" ></label></td>
                        <td><input type="text" name="description" placeholder="Описание" th:value="${budget.description}" style="width: 200px;"></td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label" th:text="Сумма"></label></td>
                        <td><input type="number" step=0.01 name="price" placeholder="Сумма" th:value="${budget.price}" style="width: 200px;"></td>
                    </tr>
                </table>
                <input class="btn btn-primary" name="submit" type="submit" value="Сохранить"/>
                <a th:href="@{'/delete/'+${budget.id}}" class="btn btn-danger" role="button" aria-pressed="true">Удалить</a>
            </form>
        </div>
    </div>
</main>
</div>
</body>
</html>