<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
</head>
<body style="background: #c2ff8e">
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
  <div class="jumbotron" style="background: #c2ff8e">
    <div class="col-sm-8 mx-auto">
      <h2 th:text="'Логин'"></h2>
      <div class="error" th:if="${error}" th:text="'Неверно указан email или пароль'">
      </div>
      <form id="form" name="form" th:action="@{/login}" method="post">
        <div class="form-group">
          <label for="username">Email</label>
          <input type="email" class="form-control" id="username" name="username" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button class="btn btn-primary" name="submit" type="submit"><i class="fa fa-sign-in"></i> Вход</button>
      </form>
    </div>
  </div>
</main>
</div>
</body>
</html>