<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
  <div class="jumbotron" style="background: #c2ff8e">
    <a href="/login" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true"><i class="fa fa-sign-in"></i> Вход</a>
    <a href="/profile/register" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true"><i class="fa fa-list-alt"></i> Регистрация</a>

    <pre>

      Приложение предназначено для ведения, управления и планирования семейного бюджета.
      Функции:
        - Содержит 2 типа операций: Приход и Расход.
        - Раздел <b>Справочники</b> содержит: виды операций и виды валют.
           После регистрации, пользователь имеет автоматически созданные:
           - несколько видов операций;
           - несколько видов валют (гривны, доллары США, евро).
        - Раздел <b>Статистика</b> - показывает операции по дням, с возможностью фильтрации.
        - Раздел <b>Групповая статистика</b>:
           - показывает сумму по операциям за период, и также может показать:
               * количество операций по виду;
               * процент от общей суммы по типу (белая линия);
               * проценты от максимальной суммы вида (желтая линия);
               * детали для вида;
               * диаграммы: круглая, горизонтальная;
               * вертикальная диаграмма для показа динамики по виду.
        - Для объединения в группу пользователей - в разделе <b>Профиль</b> есть ссылка для присоединения к группе.
        - Смена валюты может осуществляться либо на верхней панели, либо в разделе <b>Профиль</b>.
          Одновременно отображаются данные только по одному виду валюты.
    </pre>
  </div>
</main>
</body>
</html>