<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
  <div class="jumbotron" style="background: #c2ff8e">
    <a href="/login" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true"><i class="fa fa-sign-in"></i> Вход</a>
    <a href="/profile/register" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true"><i class="fa fa-list-alt"></i> Регистрация</a>
  </div>
</main>
</body>
</html>