<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: div}">
</div>
<main role="main">
  <div class="jumbotron"  style="background: #c2ff8e">
      <div class="input-group mb-3" style="margin-left: 10px">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 300px;" th:text="${'Остаток, ' + defaultCurrencyName}"></span>
        </div>
        <input class="form-control col-4" type="text" readonly th:value="${#numbers.formatDecimal(remain,1,'DEFAULT',0,'DEFAULT')}">
      </div>
      <div class="input-group mb-3" style="margin-left: 10px">
      <div class="input-group-prepend">
        <span class="input-group-text" style="width: 300px;" th:text="${'Последняя активность'}"></span>
      </div>
      <input class="form-control col-4" type="text" readonly th:value="${lastGroupActivityDateCustom}"
             th:data-path="${'budget/statistic?startDate=' + lastGroupActivityDate + '&amp;endDate=' + lastGroupActivityDate + (lastCurrencyId.equals('') ? '' : '&amp;currencyId=' + lastCurrencyId)}"
             onclick="location.href = (this.getAttribute('data-path'));">
    </div>
    <div class="menu-container">
      <div class="menu-item">
        <a href="/budget/create/profit" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-plus"></i> Приход</a>
      </div>
      <div class="menu-item">
        <a href="/budget/create/spending" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-minus"></i> Расход</a>
      </div>
      <div class="menu-item">
        <a href="/budget/statistic" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-list"></i> Статистика</a>
      </div>
      <div class="menu-item">
        <a href="/budget/groupstatistic" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-align-left"></i> Групповая статистика</a>
      </div>
      <div class="menu-item">
        <a href="/dictionaries/" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-book"></i> Справочники</a>
      </div>
      <div class="menu-item">
        <a href="/regularoperations/" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-calendar"></i> Регулярные операции</a>
      </div>
      <div class="menu-item">
        <a href="/profile/" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-user"></i> Профиль</a>
      </div>
      <div class="menu-item">
        <a th:href="@{/logout}" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-sign-out"></i> Выход</a>
      </div>
    </div>

    <table th:replace="~{fragments/statData :: table}">
    </table>

    <div class="info" th:if="${info}" th:text="${info}"></div>
    <table class="table" th:if="${(joinRequests.size() > 0)}">
      <tbody>
        <tr class="border border-warning">
          <td>Желающие присоединиться к вашей группе</td>
        </tr>
        <tr class="border border-warning budget_detail">
          <td style="padding-top: 0px; padding-bottom: 12px;">
            <table class="table table-active ">
              <thead>
              <tr class="table-active">
                <th style="width: 5%"> #</th>
                <th style="width: 25%"> Пользователь</th>
                <th style="width: 20%"> Email</th>
                <th style="width: 20%"> Дата запроса</th>
                <th style="width: 10%"> Принять</th>
                <th style="width: 10%"> Отказать</th>
              </tr>
              </thead>
              <tbody>
              <!--/*--><!--@thymesVar id="budgetItem" type="com.gorbatenko.budget.model.JoinRequest"--><!--*/-->
              <th:block th:each="request,row : ${joinRequests}">

                <tr th:id="${request.id}">
                  <td style="width: 5%"><span th:text="${row.index+1}"> # </span></td>
                  <td style="width: 15%"><span th:text="${request.user.name}"> User </span></td>
                  <td style="width: 15%"><span th:text="${request.user.email}"> Email </span></td>
                  <td style="width: 10%"><span th:text="${#temporals.format(request.created, 'yyyy-MM-dd HH:mm')}"> </span>
                  </td>
                  <td style="width: 5%">
                    <a th:href="${'javascript:joinGroupAccept(&quot;' + request.id + '&quot;)'}" class="btn btn-warning" role="button"
                       aria-pressed="true"><i
                            class="fa fa-check"></i></a>
                  </td>
                  <td style="width: 5%">
                    <a th:href="${'javascript:joinGroupDecline(&quot;' + request.id + '&quot;)'}" class="btn btn-warning" role="button"
                       aria-pressed="true"><i
                            class="fa fa-times"></i></a>
                  </td>
                </tr>
              </th:block>
            </table>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
</main>
<script>
  $(document).ready(function () {
    hideDetail($('.day'));
  });

  function joinGroupAccept(requestId) {
    $.ajax({
      type: "GET",
      url:  "/profile/joinrequest/" + requestId + "/accept",
      success: function (status) {
        var request = document.getElementById(requestId);
        request.style.display = 'none';
      }
    });
  }

  function joinGroupDecline(requestId) {
    $.ajax({
      type: "GET",
      url: "/profile/joinrequest/" + requestId + "/decline",
      success: function (status) {
        var request = document.getElementById(requestId);
        request.style.display = 'none';
      }
    });
  }
</script>
</body>
</html>