<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
  <div class="jumbotron"  style="background: #c2ff8e">
    <h2 id="loggedUser" >Пользователь: <span th:text="${userName}"></span></h2>

      <div class="input-group mb-3" style="margin-left: 10px">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 220px;" th:text="${'Остаток, ' + defaultCurrencyName}"></span>
        </div>
        <input class="form-control col-md-2" type="text" readonly th:value="${#numbers.formatDecimal(remain,1,'DEFAULT',0,'DEFAULT')}">
      </div>
      <div class="input-group mb-3" style="margin-left: 10px">
      <div class="input-group-prepend">
        <span class="input-group-text" style="width: 220px;" th:text="${'Последняя активность'}"></span>
      </div>
      <input class="form-control col-md-2" type="text" readonly th:value="${lastGroupActivityDate}"
             th:data-path="'budget/statistic?startDate=' + ${lastGroupActivityDate} + '&endDate=' + ${lastGroupActivityDate}"
             onclick="location.href = (this.getAttribute('data-path'));">
    </div>
    <div class="menu-container">
      <div class="menu-item">
        <a href="/budget/create/profit" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-plus"></i> Приход</a>
      </div>
      <div class="menu-item">
        <a href="/budget/create/spending" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-minus"></i> Расход</a>
      </div>
      <div class="menu-item">
        <a href="/budget/statistic" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-list"></i> Статистика</a>
      </div>
      <div class="menu-item">
        <a href="/budget/groupstatistic" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-align-left"></i> Групповая статистика</a>
      </div>
      <div class="menu-item">
        <a href="/dictionaries/" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-book"></i> Справочники</a>
      </div>
      <div class="menu-item">
        <a href="/profile/" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-user"></i> Профиль</a>
      </div>
      <div class="menu-item">
        <a th:href="@{/logout}" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true"><i
                class="fa fa-sign-out"></i> Выход</a>
      </div>
    </div>

    <table th:replace="fragments/statData :: table">
    </table>
  </div>
</main>
<script>
  $(document).ready(function () {
    hide_detail($('.day'));
  });
</script>
</body>
</html>