<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body style="background: #c2ff8e">
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
  <div class="jumbotron" style="background: #c2ff8e">
    <div class="col-sm-8 mx-auto">
      <h2 th:text="'Регистрация'"></h2>
      <div class="error" th:if="${error}" th:text="${error}">
      </div>
      <form id="form" name="form" th:action="@{/register}" method="post">
        <table>
          <tr>
            <td><label class="col-form-label" th:text="Имя"></label></td>
            <td><input type="text" name="name" placeholder="name" style="width: 200px;"></td>
          </tr>
          <tr>
            <td><label class="col-form-label" th:text="Email"></label></td>
            <td><input type="text" name="email" placeholder="Email" style="width: 200px;"></td>
          </tr>
          <tr>
            <td><label class="col-form-label" th:text="Пароль"></label></td>
            <td><input type="password" name="password" placeholder="Пароль" style="width: 200px;">
            </td>
          </tr>
        </table>
        <button class="btn btn-primary" name="submit" type="submit"><i class="fa fa-save"></i> Регистрация</button>
      </form>
    </div>
  </div>
</main>
</div>
</body>
</html>