<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body style="background: #c2ff8e">
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div class="nav justify-content-center">
            <div class="btn-group btn-group-lg" role="group">
                <a href="/statistic" class="btn btn-warning" role="button" aria-pressed="true">Все</a>
                <a href="/statistic/profit" class="btn btn-success" role="button" aria-pressed="true">Приходы</a>
                <a href="/statistic/spending" class="btn btn-primary" role="button"
                   aria-pressed="false">Расходы</a>
            </div>
        </div>


        <div class="form-group ">
            <a href="/create/profit" class="btn btn-success" role="button" aria-pressed="true"><i class="fa fa-plus"></i> Создать приход</a>
            <a href="/create/spending" class="btn btn-primary" role="button" aria-pressed="true"><i class="fa fa-minus"></i> Создать расход</a>
        </div>
        <table class="table table-active ">
            <thead>
            <tr class="table-active">
                <th> Дата</th>
                <th> Пользователь</th>
                <th> Приход/Расход</th>
                <th> Вид</th>
                <th> Описание</th>
                <th> Сумма</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--/*--><!--@thymesVar id="listBudget" type="java.util.List"--><!--*/-->
            <tr th:if="${listBudget.isEmpty()}">
                <td colspan="2"> Бюджет не доступен</td>
            </tr>
            <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Budget"--><!--*/-->
            <tr th:class="${budget.kind.getType().name().equals('PROFIT')  ? 'bg-success' : 'bg-info'}" th:each="budget : ${listBudget}">
                <td><span th:text="${budget.getStrDate()}"> Date </span></td>
                <td><span th:text="${budget.user.name}"> User </span></td>
                <td><span th:text="${budget.kind.getType().getValue()}"> Type </span></td>
                <td><span th:text="${budget.kind.name}"> Item </span></td>
                <td><span th:text="${budget.description}"> Description </span></td>
                <td><span th:text="${budget.price}"> Price </span></td>
                <td>
                    <a th:href="@{'/edit/'+${budget.id}}" class="btn btn-warning" role="button" aria-pressed="true"><i class="fa fa-pencil"></i></a>
                </td>

            </tr>
        </table>

        <!--</div>-->
    </div>
</main>
</div>
</body>
</html>