<html xmlns:th="http://www.thymeleaf.org" xmlns:ht="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body style="background: #c2ff8e">
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron" style="background: #c2ff8e">
        <div class="card bg-warning">
            <div class="card-body ">
                <div class="form-group ">
                    <form th:action="@{/statistic/view/group}" method="get">
                        <div class="form-group row ">
                            <div class="col-2">
                                <label for="startDate">Дата начала</label>
                                <input class="form-control" name="startDate" id="startDate"
                                       type="date"
                                       th:value="${startDate}">
                            </div>
                            <div class="col-2">
                                <label for="endDate">Дата конца</label>
                                <input class="form-control" name="endDate" id="endDate" type="date"
                                       th:value="${endDate}">
                            </div>
                            <div class="form-group col-1 flex-bottom">
                                <button id="btnsub" type="submit" class="btn btn-dark">
                                    <i class="fa fa-filter"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table">
            <tr class="bg-warning">
                <td style="width: 200px"> Всего приход: <b>
                    <span th:text="${profit}"></span></b>
                </td>
                <td style="width: 200px"> Всего расход: <b>
                    <span th:text="${spending}"></span></b>
                </td>
                <td style="width: 200px"> Всего Итог: <b>
                    <span th:text="${remain}"></span></b>
                </td>
            </tr>
        </table>

        <table class="table">
            <th:block th:each="element : ${mapKind}">
                <tr th:class="${element.key.name().equals('PROFIT')  ? 'bg-success' : 'bg-info'}">
                    <td colspan="2"><h4 th:text="${element.key.getValue()}"></h4></td>
                </tr>
                <th:block th:each="map : ${element.value}">
                    <tr th:class="${map.key.getType().name().equals('PROFIT')  ? 'bg-success' : 'bg-info'}">
                        <td style="padding-left: 50px"><span th:text="${map.key.name}">  </span></td>
                        <td><span th:text="${map.value.doubleValue()}">  </span></td>
                    </tr>
                </th:block>
                <tr>
                    <td><b>Итого:</b></td>
                    <td colspan="2"><b>
                        <span th:text="*{#aggregates.sum(element.value.![(value)])}"></span></b>
                    </td>
                </tr>
            </th:block>
        </table>

    </div>
</main>
</div>
</body>
</html>