<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: div}">
</div>
<main role="main">
    <div class="jumbotron"  style="background: #c2ff8e">
        <h2 th:text="'Валюты'"> </h2>
        <a href="/dictionaries/currencies/create" class="btn btn-primary mobx" role="button" aria-pressed="true"><i class="fa fa-plus"></i> Создать</a>
        <table id="currencies"
                class="table table-active">
            <thead>
            <tr>
                <th data-field="name" data-sortable="true">Наименование</th>
                <th data-field="visibility" data-sortable="true">Видимость</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <!--/*--><!--@thymesVar id="currency" type="com.gorbatenko.budget.model.Currency"--><!--*/-->
            <tr th:class="${'bg-success'}"  th:each="currency : ${currencies}">
                <td><span class="summation"  th:text="${currency.getName()}"> Name </span></td>
                <td><span class="summation"  th:text="${currency.isHidden() ? 'Скрыто'  : 'Видно'}"> Hidden </span></td>
                <td>
                    <a th:href="@{'/dictionaries/currencies/edit/'+${currency.id}}"  class="btn btn-warning" role="button" aria-pressed="true"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        </table>
        <script>
            $(function() {
                $('#currencies').bootstrapTable()
            })
        </script>
    </div>
</main>
</body>
</html>