<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
  <div class="jumbotron" style="background: #c2ff8e">
    <div>
      <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Currency"--><!--*/-->
      <h2 th:text="${(currency.id == null ? 'Добавление' : 'Изменение') + ' валюты'}"> </h2>

      <div class="error" role="alert" th:if="${error}" th:text="${error}">
      </div>
      <form id="form" name="form" th:action="@{/dictionaries/currencies/edit}" method="post">
        <input type="hidden" name="id" th:value="${currency.getId()}">
        <div class="form-group">
          <label for="name">Наименование</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-pencil"></i></span>
            </div>
            <input type="text" name="name" id="name" class="form-control" th:value="${currency.getName()}"
                   placeholder="Наименование" required minlength="3">
          </div>
        </div>

        <button class="btn btn-primary" name="submit" type="submit"><i class="fa fa-save"></i> Сохранить</button>
        <a th:if="${currency.id != null}" th:href="@{'/dictionaries/currencies/delete/'+${currency.id}}" class="btn btn-danger" role="button" aria-pressed="true"><i class="fa fa-trash"></i> Удалить</a>
      </form>
    </div>
  </div>
</main>
</body>
</html>