<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
  <div class="jumbotron" style="background: #c2ff8e">
    <div>
      <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Currency"--><!--*/-->
      <h2 th:text="${(currency.id == null ? 'Добавление' : 'Изменение') + ' валюты'}"> </h2>

      <div class="error" style="display: none;" id="error-message" role="alert" th:text="${error}">
      </div>
      <form id="form" name="form" th:action="@{/dictionaries/currencies/edit}" method="post">
        <input type="hidden" name="id" th:value="${currency.getId()}">
        <div class="form-group">
          <label for="name">Наименование</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-pencil"></i></span>
            </div>
            <input type="text" name="name" id="name" class="form-control" th:value="${currency.getName()}"
                   placeholder="Наименование" required minlength="3">
          </div>
          <label for="hidden">Скрыто</label>
          <div class="input-group mb-3">
            <input type="checkbox" name="hidden" id="hidden" class="form-control" th:checked="${currency.isHidden()}">
          </div>
        </div>
        <button class="btn btn-primary mob" name="submit" type="submit"><i class="fa fa-save"></i> Сохранить</button>
        <button th:if="${currency.id != null}" class="btn btn-danger mob" type="button"
                th:onclick="remove()"><i class="fa fa-trash"></i> Удалить</button>
      </form>
    </div>
  </div>
</main>
<script>
  function remove() {
    var csrfheader = $('meta[name="_csrf_header"]').prop('content');
    var csrftoken = $('meta[name="_csrf"]').prop('content');
    var id = $("input[name='id']").val();
    $.ajax({
      type: "DELETE",
      url: "/dictionaries/currencies/" + id,
      beforeSend: function(xhr) {
        xhr.setRequestHeader(csrfheader, csrftoken);
      },
      success: function (status) {
        history.back();
      },
      error: function (jqXHR) {
        var message = jqXHR.responseJSON.message;
        var error = $("#error-message");
        error.text(message);
        error.css("display", "block");
      }
    });
  }
</script>
</body>
</html>