<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron"  style="background: #c2ff8e">
        <div class="menu-container">
            <div class="menu-item">
                <a href="/dictionaries/kinds" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true">
                    <i class="fa fa-diamond"></i> Виды приходов/расходов</a>
            </div>
            <div class="menu-item">
                <a href="/dictionaries/currencies" class="btn btn-primary btn-lg btn-block menubtn" role="button" aria-pressed="true">
                    <i class="fa fa-dollar"></i> Валюты</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>