<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
  <div class="jumbotron" style="background: #c2ff8e">
    <div>
      <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Kind"--><!--*/-->
      <h2 th:text="${(kind.id == null ? 'Добавление' : 'Изменение') + ' вида Прихода/Расхода'}"> </h2>
      <div class="error" style="display: none;" id="error-message" role="alert" th:text="${error}">
      </div>
      <form id="form" name="form" th:action="@{/dictionaries/kinds/edit}" method="post">
        <input type="hidden" name="referer" th:value="@{${referer}}">
        <input type="hidden" name="id" th:value="${kind.getId()}">
        <!--<fieldset disabled>-->
        <div class="form-group">
          <!--<label for="type">Тип</label>-->
          <select id="type" name="type"  readonly class="form-control">
            <option th:each="val : ${T(com.gorbatenko.budget.model.Type).values()}"
                    th:value="${val}"
                    th:text="${val.value}"
                    th:selected="${kind.getType().name().equalsIgnoreCase(val)}"
            >
            </option>
          </select>
        </div>
        <!--</fieldset>-->
        <div class="form-group">
          <label for="name">Вид</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-pencil"></i></span>
            </div>
            <input type="text" name="name" id="name" class="form-control" th:value="${kind.getName()}"
                   placeholder="Наименование" required minlength="3">
          </div>
        </div>

        <button class="btn btn-primary mob" name="submit" type="submit"><i class="fa fa-save"></i> Сохранить</button>
        <button th:if="${kind.id != null}" class="btn btn-danger mob" type="button"
                th:onclick="remove()"><i class="fa fa-trash"></i> Удалить</button>
      </form>
    </div>
  </div>
</main>
<script>
  function remove() {
    var csrfheader = $('meta[name="_csrf_header"]').prop('content');
    var csrftoken = $('meta[name="_csrf"]').prop('content');
    var id = $("input[name='id']").val();
    $.ajax({
      type: "DELETE",
      url: "/dictionaries/kinds/" + id,
      beforeSend: function(xhr) {
        xhr.setRequestHeader(csrfheader, csrftoken);
      },
      success: function (status) {
        history.back();
      },
      error: function (jqXHR) {
        var message = jqXHR.responseJSON.message;
        var error = $("#error-message");
        error.text(message);
        error.css("display", "block");
      }
    });
  }
</script>
</body>
</html>