<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
  <div class="jumbotron" style="background: #c2ff8e">
    <div class="col-sm-8 mx-auto">
      <h2 th:text="'Изменение вида прихода/расхода'"> </h2>

      <div class="error" role="alert" th:if="${error}" th:text="${error}">
      </div>

      <!--/*--><!--@thymesVar id="budget" type="com.gorbatenko.budget.model.Kind"--><!--*/-->
      <form id="form" name="form" th:action="@{/dictionaries/kinds/edit}" method="post">
        <input type="hidden" name="id" th:value="${kind.getId()}">
        <!--<fieldset disabled>-->
          <div class="form-group">
            <!--<label for="type">Тип</label>-->
            <select id="type" name="type" readonly class="form-control">
              <option th:each="val : ${T(com.gorbatenko.budget.model.Type).values()}"
                      th:value="${val}"
                      th:text="${val.value}"
                      th:selected="${kind.getType().name().equalsIgnoreCase(val)}"
              >
              </option>
            </select>
          </div>
        <!--</fieldset>-->
        <div class="form-group">
          <label for="name">Вид</label>
          <input type="text" name="name" id="name" class="form-control" th:value="${kind.getName()}" placeholder="Наименование" required>
        </div>

        <button class="btn btn-primary" name="submit" type="submit"><i class="fa fa-save"></i> Сохранить</button>
        <a th:href="@{'/dictionaries/kinds/delete/'+${kind.id}}" class="btn btn-danger" role="button" aria-pressed="true"><i class="fa fa-trash"></i> Удалить</a>
      </form>
    </div>
  </div>
</main>
</body>
</html>