<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/bodyHeader :: div">
</div>
<main role="main">
    <div class="jumbotron"  style="background: #c2ff8e">
        <h2 th:text="'Виды приходов/расходов'"> </h2>
        <a href="/dictionaries/kinds/create/profit" class="btn btn-primary mobx" role="button" aria-pressed="true"><i class="fa fa-plus"></i> Создать</a>

        <table class="table">
            <th:block th:each="element : ${mapKind}">
                <tr th:class="${element.key.name().equals('PROFIT')  ? 'bg-success' : 'bg-info'}">
                    <td ><h4 th:text="${element.key.getValue()}"></h4></td>
                    <th >Видимость</th>
                    <td colspan="2"></td>
                </tr>
                <!--/*--><!--@thymesVar id="kind" type="com.gorbatenko.budget.model.Kind"--><!--*/-->
                <th:block th:each="kind,row : ${element.value}">
                    <tr th:class="${kind.getType().name().equals('PROFIT')  ? 'bg-success' : 'bg-info'}">
                        <td style="padding-left: 50px; font-weight: bolder">
                            <a class="text-dark"
                               th:href="@{/budget/statistic(period='ALL_TIME',
                                                    kindId=${kind.getId()})}">
                                <span class="summation"  th:text="${(row.index+1) + '. ' + kind.getName() + ' (' + mapCountKind.getOrDefault(kind.getId(),0)  + ')'} "></span>
                            </a>
                        </td>
                        <td><span class="summation"  th:text="${kind.isHidden() ? 'Скрыто'  : 'Видно'}"> Hidden </span></td>
                        <td style="padding-left: 10px; font-weight: bolder; text-align: center;">
                            <a th:href="@{'/dictionaries/kinds/edit/'+${kind.id}}"  class="btn btn-warning" role="button" aria-pressed="true"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                </th:block>
                <tr>
                    <td colspan="3"></td>
                </tr>
            </th:block>
        </table>

    </div>
</main>
</body>
</html>